[project]
	state = active
[access "refs/heads/*"]
	owner = group Administrators
	create = group moto_msm8960
	forgeCommitter = group moto_msm8960
	push = +force group moto_msm8960
	label-Code-Review = -2..+2 group moto_msm8960
	label-Verified = -1..+1 group moto_msm8960
	submit = group moto_msm8960
	abandon = group moto_msm8960
